body {
    
    background-color: black;
    background-size: cover;
    color: black;
    
}

h1 {
    color:greenyellow;
    text-decoration: underline;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form div {
    padding: 10px;
    font-size: 120%;
    color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
}

.meme-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 300px;
    padding: 25px;
    background-color: purple;
}

.meme-box {
    position: relative;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 300px;
    margin: 25px;
}

.meme-img {
    width: 400px;
    height: 300px;
}

.meme-top-text {
    position: absolute;
    top: 10px;
    font-size: 25px;
    font-weight: bold;
    color:white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow:    -1px 1px 0 #000,
                    1px 1px 0 #000,
                    1px -1px 0 #000,
                    -1px -1px 0 #000;
}

.meme-bottom-text {
    position: absolute;
    bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    color:white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.remove-button {
    margin: 30px;
    display: flex;
    justify-content: center;
    background-color: rgb(22, 223, 230);
    color: black;
    font-size: large;
    font-weight: bolder;
    border: white;
    border-radius: 15px;
    padding: 15px;
    text-decoration: double;
    box-shadow: 1px 5px #FFF;
}

.remove-button:hover {
    background-color:rgb(19, 198, 204);
    box-shadow: 1px 5px #ddd;
}

.remove-button:active {
    background-color:rgb(18, 165, 170);
    box-shadow: 1px 5px #aaa;
    transform: translateY(4px);
}

.build-button {
    background-color:fuchsia;
    color: black;
    font-size: large;
    font-weight: bolder;
    border: white;
    border-radius: 15px;
    padding: 15px;
    text-decoration: double;
    box-shadow: 1px 5px #FFF;
}

.build-button:hover {
    background-color:rgb(204, 7, 204);
    box-shadow: 1px 5px #ddd;
}

.build-button:active {
    background-color:rgb(131, 46, 131);
    box-shadow: 1px 5px #aaa;
    transform: translateY(4px);
}
